.pointer-events-none {
  pointer-events: none;
  opacity: 0.5;
}

clr-input-container input[clrInput],
select {
  width: 325px;
}

.mb10 {
  margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Removed spinner for Firefox */
}
